@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 16px;
}

body {
  color: #f2f2f2;
  background: linear-gradient(to bottom, #242641, #13161b);
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__logo {
  background: url("../images/3.png");
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; /* Centraliza a imagem horizontal e verticalmente */
}

.container__logo.hidden {
    display: none;
}

.login {
  width: 100%;
  max-width: 330px;
  background-color: rgba(33, 38, 46, 0.9);
  border-radius: 10px;
  padding: 25px;
  color: #fff;
}
.login > h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__input {
  border: none;
  padding: 15px;
  font-size: 0.85rem;
  font-weight: 400;
  background-color: #141418;
  color: #f2f2f2; 
  outline: none;
  border-radius: 5px;
}

.login__input:focus {
  outline: 2px solid #f2f2f2;
}

.login__button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(to left, #6261e5, #8068fa);
  cursor: pointer;
  color: #ddd;
}

.login__button:hover {
  background-color: #fff;
}

.chat {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.chat__messages {
  flex-grow: 1;
  padding: 30px 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat__form {
  background-color: #20242C;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat__input {
  border: none;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  background-color: rgba(21, 24, 29, 0.9);
  outline: none;
  color: #f2f2f2;
  font-size: 1rem;
}

.chat__button {
  border: none;
  background: none;
  color: #f2f2f2;
  cursor: pointer;
}

.chat__button > span {
  font-size: 1.8rem;
}

.chat__messages > div {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 22px;
}

.message--self {
  background-color: #f2f2f2;
  color: #121212;
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
}

.message--other {
  background-color: #292e36;
  color: #f2f2f2;
  border-radius: 0 10px 10px 10px;
  align-self: flex-start;
}

.message--sender {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: cadetblue;
}

.message--timestamp{
  color: rgb(168, 168, 168);
  margin-top: 10px;
  font-weight: 300;
}

.message--self,
.message--other {
  word-wrap: break-word; /* Adiciona quebra de linha em palavras longas */
}

@media only screen and (max-width: 950px) {
  .container__logo {
    width: 55%;
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .login {
    max-width: 100%;
  }
  .login > h2 {
    font-size: 1.2rem;
  }

  .login__form {
    gap: 15px;
  }

  .login__button {
    font-size: 12px;
  }
  .container__logo {
    width: 80%;
    height: 100%;
  }
}

@media only screen and (min-width: 1500px) {
  .chat__messages > div {
    max-width: 750px;
    min-width: 300px; /* Largura máxima desejada */
    width: auto; /* Definir a largura automaticamente se a mensagem for curta */
    overflow-wrap: break-word; /* Adiciona quebra de linha em palavras longas */
  }
}
